*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bg{
    background-image: url("https://picsum.photos/id/1027/2848/4272");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: block;
    top: -5vh;
    left: -5vw;
    width: 110vw;
    height: 110vh;
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 3rem;
    color: wheat;
    user-select: none;
}
