*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.carousel{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 33rem;
    width: 30rem;
    overflow: hidden;
}

.image-container{
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

img{    
    width: 30rem;
    height: 30rem;
    object-fit: cover;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
}

.buttons-container button{
    background-color: rebeccapurple;
    color: white;
    border: none;
    cursor: pointer;
    height: 3rem;
    line-height: 3rem;
    width: 49.5%;
    font-size: 1rem;
}

.buttons-container button:hover{
    opacity: 0.9;
}

.buttons-container button:focus{
    outline: none;
}