*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f7fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 2rem;
    max-width: 100%;
    width: 25rem;
}

.progress-before{
    content: "";
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -2;
}

.progress{
    background-color: #3498db;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: all 0.4s ease-out;
}

.circle{
    background-color: white;
    color: #999;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #e0e0e0;
    transition: 0.4s ease;
}

.circle.active{
    border-color: #3498db;
}

.btn{
    cursor: pointer;
    color: #fff;
    border: 0;
    background-color: #3498db;
    border-radius: 0.5px;
    font-family: inherit;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    font-size: 14px;
    outline: none;
}

.btn:active{
    transform: scale(0.98);
    outline: none;
}

.btn:disabled{
    background-color: #e0e0e0;
    color: #999;
    cursor: not-allowed;
}

.btn:focus{
    outline: none;
}